{% extends 'base.html.twig' %}

{% block title %}mot de passe la boutique francaise{% endblock %}

{% block content %}
    <h1>modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">retour</a><br/>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <hr>

    
{% endblock %}
